/* GLOBAL STYLE */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #f1f1f1;
  background: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-nav {
  background: #b0b0b0;
  padding: 10px 0;
}

.site-nav ul {
  list-style: flex;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.site-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
}

.site-nav a.active,
.site-nav a:hover {
  color: #333;
  font-weight: bold;
}

h1, h2, h3 {
  margin-top: 30px;
  letter-spacing: -1px;
  color: #FEFFEA;
}

/* PROFILE IMAGE */
img {
  width: 250px;
  border-radius: 10px;
  margin-top: 20px;
}



.contact-form {
  max-width: 500px;
  margin: 20px auto;
  text-align: left;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px 0;
  border-radius: 5px;
  border: none;
}

button {
  padding: 12px 20px;
  background: #FFEFCA;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #ffe8a4;
}

/* FOOTER */
footer {
  margin-top: 40px;
  padding: 20px 0;
  background: #222;
}
