body {
    font-family: Helvetica, sans-serif;
    color: #f9f9f9;
    background: #2e2020;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 500px;
    background: #274156;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: #D0CCD0;
    color: #D0CCD0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    width: 250px;
}

p {
    color: #D0CCD0;
    font-family: Helvetica, sans-serif;
    text-align: center;
}